.addTask button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.sidebar{
    height: 720px;
    width: 300px;
    background-color: #4CAF50;
}
li{
    list-style: none;
    margin-top: 10px;
}
